* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Spectral SC', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
}

#container {
    position: fixed;
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    height: 5%;
    width: 100%;
}
/* Header Components */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #B3B7DD;
}

li {
    float: left;

}

li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#headerLogo {
    position: relative;
    width: 50px;
    height: 12px;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
    padding-right: 0px;
}

.headerRight:hover,#logoContainer:hover {
    background-color: #111;
}

.headerRight {
    float: right;
}

li a {
    color: white;
}


#body {
    position: absolute;
    height: 92%;
    width: 100%;
    background-color: #C6CAF2;
    top: 5%;
}

#footer {
    position: absolute;
    height: 3%;
    width: 100%;
    background-color: black;
    top: 97%;
    color: white;
    font-size: 14px;
    text-align: center;
}

#openAccountform-switch {
    display: none;
}

#openAccountDiv {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 10%;
    left: 29%;
}

#openAccount {
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: #868EE0;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    font-weight: bold;
    top: 42%;
    left: 16%;
}
#openAccount:hover {
    background-color: #262B63;
    color: #B7C141;
    cursor: pointer;
}

#openAccountForm {
    display: none;
    position: absolute;
    width: 80%;
    left: 9.5%;
    top: 7%;
}

#openAccountForm h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#openAccountForm p {
    padding: 10px;
}

input[type=text],input[type=password],input[type=email]{
    width: 440px;
}

input[type=submit] {
    margin-left: 80px;
}

input[type=radio] {
    padding: 10px;
}


#openAccountform-switch:checked~#openAccountForm {
    display: block;
}

#openAccountform-switch:checked~#openAccountButton {
    display: none;
}

/*
    make this div display to block to show openAccount form
*/

#openAccountDiv {
    display: none;
}

#homePage {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}


#body-left {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 0;
    background-color: #B3B7DD;
}

#body-right {
    position: absolute;
    height: 100%;
    width: 80%;
    background-color: #F3F0F9;
    left: 20%;
    overflow: hidden;
    
}

#homeButtonsTab {
    position: absolute;
    width: 90%;
    height: 70%;
    left: 5%;
    top: 10%;
}

#homeButtonsTab p{
    margin: 20px;
}

#homeButtonsTab div {
    background-color: black;
    height: 50px;
    width: 100%;
    position: absolute;
    background-color: #868EE0;
    color: #FFF;
    text-align: center;
    padding-top: 22px;
    font-size: 20px;
    font-weight: bold;
}



#h-viewBalance {
    top: 30%;
}
#h-viewBalance:hover {
    background-color: #262B63;
    color: #B7C141;
    cursor: pointer;
}

#h-fundTransfer {
    top: 42%;
}
#h-fundTransfer:hover {
    background-color: #262B63;
    color: #B7C141;
    cursor: pointer;
}

#h-changePassword {
    top: 54%;
}
#h-changePassword:hover {
    background-color: #262B63;
    color: #B7C141;
    cursor: pointer;
}

#h-changeAddress {
    top: 66%;
}
#h-changeAddress:hover {
    background-color: #262B63;
    color: #B7C141;
    cursor: pointer;
}

#hr-initialView {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

#hr-viewBalance {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
}

#hr-fundTransfer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 200%;
}

#hr-changePassword {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 300%;
}

#hr-changeAddress {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 400%;
}

#hr-miniStatementForm {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 500%;
}

#hr-detailedStatementForm {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 600%;
}

#hr-vb-ministatement {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 700%;
}

#hr-vb-detailedstatement {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 800%;
}

#hrb-welcome {
    position: absolute;
    font-weight: bold;
    font-size: 80px;
    top: 40%;
    left: 15%;
}

#bal-container {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 22%;
    left: 25%;
}

#miniStatement {
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: #868EE0;
    color: #FFF;
    top: 28%;
    left: 18%;
    padding-top: 17px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#detailedStatement {
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: #868EE0;
    color: #FFF;
    top: 50%;
    left: 18%;
    padding-top: 17px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#miniStatement:hover, #detailedStatement:hover {
    background-color: #262B63;
    color: #B7C141;
    cursor: pointer;
}

#hr-ft-formContainer {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 22%;
    left: 28%;
}

#hr-ft-formContainer h1 {
    text-align: center;
}

#hr-ft-formContainer p {
    padding: 10px;
    margin: 10px;
}


#miniStatementViewer {
    position: absolute;
    width: 900px;
    height: 600px;
    top: 12%;
    left: 7%;
    overflow: auto;
}

#miniStatementTable {
    position: absolute;
    text-align: center;
    
}


table {
    max-width: 960px;
    max-height: 100%;
    margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #BED0B8;
}

th, td {
  text-align: left;
  padding: 10px;
  font-weight: 300;
}


#hr-miniDetailAsk {
    position: absolute;
    width: 500px;
    height: 200px;
    top: 30%;
    left: 30%;
}

#hr-miniDetailAsk p {
    margin: 10px;
    padding: 10px;
}

#hr-miniDetailAsk h1 {
    text-align: center;
}

#hr-detailedDetailAsk {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 30%;
    left: 30%;
}

#hr-detailedDetailAsk p {
    margin: 10px;
    padding: 10px;
}

#hr-detailedDetailAsk h1 {
    text-align: center;
}

input[type=date] {
    width: 460px;
}